@model WatchShop.Data.Models.DongHo

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Thêm sản phẩm</h2>


@using (Html.BeginForm("Create", "DongHoThoiTrangs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenDH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThuongHieu.TenTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaTH, (IEnumerable<SelectListItem>)ViewBag.MaTH, "Chọn thương hiệu", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaTH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaGoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaGoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaGoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChiTietGiamGia.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaGG, (IEnumerable<SelectListItem>)ViewBag.MaGG, "Chọn loại giảm giá", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaGG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.LoaiMay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.LoaiMay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.LoaiMay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.DuongKinhMat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.DuongKinhMat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.DuongKinhMat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.ChatLieuMatKinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.ChatLieuMatKinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.ChatLieuMatKinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.ChatLieuKhungVien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.ChatLieuKhungVien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.ChatLieuKhungVien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.DoDayMat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.DoDayMat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.DoDayMat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.ChatLieuDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.ChatLieuDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.ChatLieuDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.DoRongDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.DoRongDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.DoRongDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.ThayDuocDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Có @Html.RadioButtonFor(model => model.DongHoThoiTrang.ThayDuocDay, true)
                Không @Html.RadioButtonFor(model => model.DongHoThoiTrang.ThayDuocDay, false)
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.ThayDuocDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.TienIch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.TienIch, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.TienIch, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.ChongNuoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.ChongNuoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.ChongNuoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.NguonNangLuong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.NguonNangLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.NguonNangLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.DoiTuong.TenDoiTuong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DongHoThoiTrang.MaDoiTuong, (IEnumerable<SelectListItem>)ViewBag.MaDoiTuong, "Chọn đối tượng sử dụng", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.MaDoiTuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongHoThoiTrang.NoiSanXuat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DongHoThoiTrang.NoiSanXuat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DongHoThoiTrang.NoiSanXuat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnhChinhURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <table class="table table-borderless va-middle">
                <tr>
                    <td width="13%">
                        <img id="mainImg" src="~/Content/img/AnhDongHo/UpdatingImage.png" alt="AnhChinh" width="100" height="100" />
                    </td>
                    <td>
                        <input type='file' id="mainInput" name="AnhChinh" width="100" />
                    </td>
                <tr>
                    <td>
                        <img id="sub1Img" src="~/Content/img/AnhDongHo/UpdatingImage.png" alt="Anh1" width="100" height="100" />
                    </td>
                    <td>
                        <input type='file' id="sub1Input" name="Anh1" width="100" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="sub2Img" src="~/Content/img/AnhDongHo/UpdatingImage.png" alt="Anh2" width="100" height="100" />
                    </td>
                    <td>
                        <input type='file' id="sub2Input" name="Anh2" width="100" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="sub3Img" src="~/Content/img/AnhDongHo/UpdatingImage.png" alt="Anh3" width="100" height="100" />
                    </td>
                    <td>
                        <input type='file' id="sub3Input" name="Anh3" width="100" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="sub4Img" src="~/Content/img/AnhDongHo/UpdatingImage.png" alt="Anh4" width="100" height="100" />
                    </td>
                    <td>
                        <input type='file' id="sub4Input" name="Anh4" width="100" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", @id = "MoTa", @row = "200" })
                <script type="text/javascript">CKEDITOR.replace('MoTa');</script>
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@*Hiển thị hình ảnh xem trước khi lưu*@
<script type="text/javascript">
    function readURL(input, img) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                img.attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#mainInput").change(function () {
        readURL(this, $("#mainImg"));
    });
    $("#sub1Input").change(function () {
        readURL(this, $("#sub1Img"));
    });
    $("#sub2Input").change(function () {
        readURL(this, $("#sub2Img"));
    });
    $("#sub3Input").change(function () {
        readURL(this, $("#sub3Img"));
    });
    $("#sub4Input").change(function () {
        readURL(this, $("#sub4Img"));
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
