@model PagedList.IPagedList<WatchShop.Data.Models.DongHo>
@using PagedList.Mvc
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MaDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TenDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ThuongHieu.TenTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GiaGoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ChiTietGiamGia.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AnhChinhURL)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuongHieu.TenTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaGoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiTietGiamGia.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                <img src="@Url.Content(item.AnhChinhURL)" alt="Anh" width="50" height="50" />
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaDH }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDH }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaDH })
            </td>
        </tr>
    }
</table>

<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Ajax.BeginForm("ContentPartial", "DongHoThongMinhs", new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "contentPage" }))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.Size, new { onchange = "$(this.form).submit()" })
            </p>
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Trang: @(Model.PageNumber <= Model.PageCount ? Model.PageNumber : 0) / @Model.PageCount
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("ContentPartial", "DongHoThongMinhs", new { page, size = ViewBag.CurrentSize }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "contentPage" }))

