@model IEnumerable<WatchShop.Data.Models.HoaDon>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .va-middle > tbody > tr > * {
            vertical-align: middle
        }

        .ta-center > tbody > tr > * {
            text-align: center
        }
    </style>
</head>
<body>
    <!-- Topbar -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <h3 style="color:cornflowerblue">Quản lý giao hàng</h3>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">@*3+*@</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">@*7*@</span>
                        </a>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Session["HoTen"]</span>
                            <img class="img-profile rounded-circle" src="~/Areas/Admin/Content/img/AvatarAccountManager/DefaultAvatar.png">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cập nhật thông tin
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div style="margin-left:25px; margin-right:25px; padding-bottom: 30px">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                           aria-selected="true">Đơn hàng cần giao</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                           aria-selected="false">Đơn hàng đã giao</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cancel-tab" data-toggle="tab" href="#cancel" role="tab" aria-controls="cancel"
                           aria-selected="false">Đơn hàng đã huỷ</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.MaHD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.KhachHang.HoTen)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TongGiaTriHD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayLapHD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SoDT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HinhThucThanhToan.MoTa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TinhTrangHoaDon.MoTa)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                if (item.MaTTHD.ToUpper() != "XULY")
                                {
                                    continue;
                                }

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TongGiaTriHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayLapHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoDT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HinhThucThanhToan.MoTa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TinhTrangHoaDon.MoTa)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Xác nhận đã giao", "XacNhanDaGiao", new { id = item.MaHD }) |
                                        @Html.ActionLink("Giao hàng thất bại", "XacNhanGiaoHangThatBai", new { id = item.MaHD })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.MaHD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.KhachHang.HoTen)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TongGiaTriHD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayLapHD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HinhThucThanhToan.MoTa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TinhTrangHoaDon.MoTa)
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                if (item.MaTTHD.ToUpper() != "DA")
                                {
                                    continue;
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TongGiaTriHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayLapHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HinhThucThanhToan.MoTa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TinhTrangHoaDon.MoTa)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                    <div class="tab-pane fade" id="cancel" role="tabpanel" aria-labelledby="cancel-tab">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.MaHD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.KhachHang.HoTen)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TongGiaTriHD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayLapHD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HinhThucThanhToan.MoTa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TinhTrangHoaDon.MoTa)
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                if (item.MaTTHD.ToUpper() != "HUY")
                                {
                                    continue;
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TongGiaTriHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayLapHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HinhThucThanhToan.MoTa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TinhTrangHoaDon.MoTa)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>

            </div>

        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn muốn đăng xuất?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        @Html.ActionLink("Đồng ý", "LogoutShipper", "Login", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Areas/Admin/Content/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Areas/Admin/Content/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Areas/Admin/Content/js/demo/chart-area-demo.js"></script>
    <script src="~/Areas/Admin/Content/js/demo/chart-pie-demo.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
</body>
</html>
